// Place all the styles related to the Fuzzy controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.col-md-7 table{
	margin-left:140px;
}
.col-md-7 .nav-tabs{
	margin-left:138px;
}
.form-group .input-group{
	margin-left:130px;	
	width:800px;
}
